<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <style>
        #app {
            margin: 2rem;
        }

        #preview-image {
            height: 500px;
            margin-bottom: 2rem;
        }

        #preview-image img {
            height: 100%;
        }

        .button-upload {
            margin-top: 2rem;
        }

        .button-upload button:first-child {
            margin-right: 1rem;
        }

        .image-message {
            margin-bottom: 2rem;
        }
    </style>
</head>

<body>
    <div class="container" id="app">

        <div class="image-message is-flex is-justify-content-center" >
            <p v-if="isImageUploaded">Image uploaded.</p>
            <p v-if="isImageLarge">Image too large. (Limit size: 3MB)</p>
            <p v-if="isUploadImageError">Upload image error</p>
        </div>

        <div id="preview-image" v-if="preview" class="is-flex is-justify-content-center">
            <img :src="preview" alt="">
        </div>


        <div class="is-flex is-justify-content-center">
            <b-field class="file is-primary" :class="{'has-name': !!file}">
                <b-upload v-model="file" class="file-label" @input="previewUpload()" accept="image/*">
                    <span class="file-cta">
                        <b-icon class="file-icon" icon="upload"></b-icon>
                        <span class="file-label">Browse image</span>
                    </span>
                    <span class="file-name" v-if="file">
                        {{ file.name }}
                    </span>
                </b-upload>
            </b-field>
        </div>
        <div class="button-upload is-flex is-justify-content-center">
            <b-field>
                <b-button @click="clearBrowseImage">Cancel</b-button>
            </b-field>
            <b-field>
                <b-button v-if="file" type="is-success" @click="uploadImage()">Upload</b-button>
                <b-button v-else type="is-success" disabled>Upload</b-button>
            </b-field>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>

</html>